$black: #000000;
$grey: #828282;
$grey-2: #727783;
$grey-3: #888888;
$grey-4: #f2f2f2;
$grey-5: #eeeeee;
$grey-6: #4f4f4f;
$white: #ffffff;
$attention: #eb5757;
$success: #27ae60;

$font-text: "SF UI Text", Arial, Helvetica, sans-serif;
$font-title: "SF Pro Display", Arial, Helvetica, sans-serif;
